/* General Styles */
html, body {
  margin: 10px;}

.group:after,
.group:before {
  display: table;
  content: "";
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}


/*Floorplan DIV */

.floorplan {
  height: 960px;
  width: 1200px;
  background: url('img/restaurant-floorplan_blank.png') no-repeat; 
  position: relative; 
  margin: 0 auto;
}

/*table */

.table-1 {
  position: absolute;
  top: 110px;
  left: 130px;
  height: 100px;
  width: 100px; }
  .table-1 img {
	width: 100px; }
	
.table-2 {
  position: fixed;
  top: 110px;
  left: 375px;
  height: 100px;
  width: 100px; }
  .table-2 img {
	width: 100px; }
	
.two-1 {
  position: absolute;
  top: 389px;
  left: 350px;
  height: 100px;
  width: 100px; }
  

.two-2 {
  position: absolute;
  top: 389px;
  left: 500px;
  height: 100px;
  width: 100px; }


.two-3 {
  position: absolute;
  top: 389px;
  left: 650px;
  height: 100px;
  width: 100px; }
  

.two-4 {
  position: absolute;
  top: 500px;
  left: 350px;
  height: 100px;
  width: 100px; }


.two-5 {
  position: absolute;
  top: 500px;
  left: 500px;
  height: 100px;
  width: 100px; }
  

.two-6 {
  position: absolute;
  top: 500px;
  left: 650px;
  height: 100px;
  width: 100px; }







/* table type */	

.table-gray {
  background: url('img/table4_gray.png') no-repeat; 
  background-size: 100px;
}

.table-yellow {
  background: url('img/table4_gray.png') no-repeat; 
}

.table-green {
  background: url('img/table4_gray.png') no-repeat; 
}



.two-gray {
  background: url('img/table2_gray.png') no-repeat; 
  background-size: 45px;
}

.two-yellow {
  background: url('img/table2_gray.png') no-repeat; 
   background-size: 45px; 
}

.two-green {
  background: url('img/table2_gray.png') no-repeat; 
    background-size: 45px;
}


